@model EvPlugNet1.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConnectorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConnectorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTagId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTagId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartResult)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartResult)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopTagId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopTagId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeterStop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeterStop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChargePoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChargePoint.ChargePointId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
