@model IEnumerable<EvPlugNet1.Models.Nodes2charger>

@{
    ViewData["Title"] = "Index";
}

<h1>Chargers in Building @Model.FirstOrDefault().Name</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChargePointId)
            </th>
            
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Cpid)
            </td>
            
           
        </tr>
}
    </tbody>
</table>
